<style type="text/css">
    .single-table { padding: 3px; }
    .width-740 { width: 740px; }
    .width-560 { width: 560px; }
    .width-550 { width: 550px; }
    .width-380 { width: 380px; }
    .width-330 { width: 330px; }
    .width-440 { width: 440px; }
    .width-280 { width: 280px; }
    .width-250 { width: 250px; }
    .width-200 { width: 200px; }
    .width-150 { width: 150px; }
    .width-170 { width: 170px; }
    .width-160 { width: 160px; }
    .width-110 { width: 110px; }
    .width-120 { width: 120px; }
    .width-100 { width: 100px; }
    .width-90 { width: 90px; }
    .width-80 { width: 80px; }
    .width-75 { width: 75px; }
    .width-75 { width: 70px; }
    .width-65 { width: 65px; }
    .width-60 { width: 60px; }
    .width-55 { width: 55px; }
    .width-50 { width: 50px; }
    .width-45 { width: 45px; }
    .width-40 { width: 40px; }
    .width-35 { width: 35px; }
    .width-30 { width: 30px; }
    .text-center { text-align: center; }
    .text-left { text-align:left; }
    .b { font-weight: bold; }
    .cola {
        border-collapse: collapse;
    }
    .cola td {
        border:1px solid black;
        font-size: 10px;
        padding:3px;
        height: 5px;
        border-collapse: collapse;
    } 
</style>

<page format="140x200" backtop="8mm" backbottom="20mm" backleft="0mm" backright="0mm">
    <page_header>
        
    </page_header>

    <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="width-330">
            <h4 style="margin:0;padding:0;" class="text-left">DR. JOSÉ SALINAS ACEVEDO</h4>
            <h4 style="margin:0;padding:0;font-weight:normal;" class="text-left">
            Cirugía Digestiva<br />P. Universidad Católica de Chile</h4>
            <br />
            Bypass gástrico, gastrectomía en manga<br />
            Reflujo gastroesofágico, hernias vía laparoscópica<br />
            Oncología tracto gastrointesnal
        </td>

        <td class="width-160" style="text-align:right;">
            <img src="logosalinas.png" width="120" />
        </td>
    </tr>
    </table>
    <hr />
    Nombre: {{nombre}}<br />
    Rut: {{rut}}<br />  
    Diagnóstico: {{diagnostico}}<br />   
    <br /><br /><h3>ORDEN DE HOSPITALIZACIÓN</h3><br />
    Hospitalizar el {{fecha_cirugia}} para {{surgery}}.
    <br />
    * Reposo relativo.<br />
    * Ayuno cero       
    <br /><br />
    Atentamente,


    <page_footer>
        <div style="text-align:right;">
        <img src="firmasalinas.png" width="180" />
        </div>
        <div style="text-align:left; font-size:11px;">
            Fecha, {{fecha}}<br />
            Centro de Cirugía Digestiva y Obesidad Clínica Puerto Varas<br />
            www.drsalinas.cl
        </div>
    </page_footer>
</page>
